@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

.register-container {
    width: 100%;
    max-width: 1120px;
    height: 100vh;
    margin: 0 auto;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.register-container .content {
    width: 100%;
    padding: 96px;
    background: #F0F0F5;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
    border-radius: 8px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.register-container .content section {
    width: 100%;
    max-width: 380px;
}

.register-container .content section h1 {
    margin: 64px 0 32px;
    font-size: 32px;
}

.register-container .content section p {
    font-size: 18px;
    color: #737380;
    line-height: 32px;
}

.register-container .content form {
    width: 100%;
    max-width: 450px;
}

.register-container .content form input {
    margin-top: 8px;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font: 400 14px Roboto, sans-serif;
    background: #f0f0f5;
    -webkit-font-smoothing: antialiased;
}

input, button {
    font: 400 18px Roboto, sans-serif;
}

button {
    cursor: pointer;
}

form input {
    width: 100%;
    height: 60px;
    color: #333;
    border: 1px solid #dcdce6;
    border-radius: 8px;
    padding: 0 24px;
}

.button {
    width: 100%;
    height: 60px;
    background: #c2bd60;
    border: 0;
    border-radius: 8px;
    color: #fff;
    font-weight: 700;
    margin-top: 16px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    transition: filter 0.2s;
}

.button:hover {
    filter: brightness(90%);
}

.back-link {
    display: flex;
    align-items: center;
    margin-top: 40px;
    color: #41414d;
    font-size: 18px;
    text-decoration: none;
    font-weight: 500; 
    transition: opacity 0.2s;
}

.back-link svg {
    margin-right: 8px;
}

.back-link:hover {
    opacity: 0.8;
}

table {
    margin-top: 15px;
    width: 100%;
}

.container {
    top: 50%;
    width: 100%;
    height: 100%;
    display: flex;
    box-sizing: border-box;
    position: absolute;
    transform: translateY(-50%);
}

.box {
    width: auto;
    text-align: center;
    line-height: 600px;
    flex-grow: 1;
    transition: .5s;
    font-size: 3.2em;
    color: #F1C40F;
    background: #000000;
}

.box:hover {
    cursor: pointer;
    flex-grow: 4;
    max-width: 100%;
    font-size: 2em;
}

.container .box:nth-child(1){
    color: #000000;
    background: #F1C40F;
}